.stamp {
    color: #ff0000;
    font-size: 3rem;
    font-weight: 700;
    border: 0.25rem solid #ff0000;
    display: inline-block;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    border-radius: 1rem;
    font-family: "Courier";
    -webkit-mask-image: url("/Battleship/Assests/grunge.png");
    -webkit-mask-size: 944px 604px;
    mix-blend-mode: multiply;
    font-size: 10vw;
    width: 90%;
    visibility: hidden;
      transition: visibility 1s ease-in-out;
      top: -300%;
      position: fixed;
  }
  .img-container {
    top: 0;
    left: 0;
    object-fit: fill;
    height: 100%;
    width: 100%;
    background-size:cover;
}

  .left-door {
    left: 0;
  }
  .right-door {
    right: 0;
  }
  .left-door{
    width: 50%;
          height: 100%;
          background-color: #333;
          border-right: 30px solid #dddddd;
          transition: left 2s ease-in-out;
          left: -500%;
          top: 0;
          z-index: 4;
          
  }
  .right-door{
    width: 50%;
    height: 100%;
    background-color: #333;
    border-left: 30px solid #dddddd;
    transition: right 2s ease-in-out;
    z-index: 4;
    right: -500%;
    top: 0;
  }
 
.optimg{
    object-fit: contain;
    cursor: pointer;
    width: 80%;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.optimg:hover{
  transform: scale(1.1);
}

.optbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    
}
.playimg{
    cursor: not-allowed;
    width: 60%;
    height: 90%;
}
.play{
    margin-left: 0;
}
.gamestarted{
    cursor: wait;
}
footer {
  bottom: -3%;
}
footer:hover{
  bottom: 0;
}
.bf{
  height: 100%;
  width: 50%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.bf h3{
  color: whitesmoke;
  font-family: 'Kanit',sans-serif;
  font-weight: 400;
  font-size: normal;
  height: 7vh;
  text-align: center;
  width: 100%;
  font-size: xx-large;
}
.bf .div{
  height: 6%;
  width: 100%;

}
.feild{
  height: 75%;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}
.feild-item{
  height: 9%;
  width: 9%;
  margin-bottom: 1%;
  margin-right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}
.enemy-item{
  height: 9%;
  width: 9%;
  margin-bottom: 1%;
  margin-right: 1%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: crosshair;
}
.enemy-item:hover{
  background-color: #006400;
}

.dot{
  height: 50%;
  width: 50%;
  border-radius: 50%;
}
.destroyed{
  cursor: not-allowed;
}
.sunked{
  top: 0;
    left: 0;
    object-fit: fill;
    height: 100%;
    width: 100%;
    background-size:cover;
  opacity: 0;
  cursor: not-allowed;
  transition: opacity 1.5s ease-in-out;
}
.optimg:hover{

}
.cmd{
  height: 50%;
  width: 50%;
  border: 1.5px solid white;
  border-radius: 20%;
  font-family: 'Kanit',sans-serif;
  font-weight: 500;
  font-size: normal;
  color: white;
  display: flex;
  font-size: 3.5vh;
  text-align: center;
  align-items:center;
  justify-content: center;
  background: linear-gradient(90deg, rgb(55, 55, 55) 0%, rgb(41, 41, 41) 29%, rgb(41, 41, 41) 76%, rgb(56, 56, 56) 100%);
}
.victory{
  height: 20%;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  font-size: 8vh;
  transition: bottom 1s ease-in-out;
  flex-direction: column;
  font-family: 'Anton', sans-serif;
}
.victory button{
  font-size: 4vh;
  width: 18%;
  border: 3px solid #888;
  box-sizing: border-box;
  border-radius: 5%;
  cursor: pointer;
}
.vic{
  top: 0; margin-top: 15%
}
.blured{
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  z-index: 6;
}
